<%- include('template/header') %>
<main>
    <h2>Description:</h2>
    <label name = "description">"Vitres Montreal specializes in professional window cleaning services using advanced water-fed pole technology. 
        With over two years of experience serving the greater Montreal region, we are committed to delivering exceptional results and exceeding our customers' expectations. 
        Our innovative approach utilizes pure water technology, which ensures streak-free and spotless cleaning without the need for harsh chemicals. 
        By harnessing the power of purified water, we provide eco-friendly and efficient cleaning solutions that leave windows sparkling clean and gleaming. 
        Trust Vitres Montreal for superior window cleaning services that enhance the appearance and value of your property."</label>
</main>
<%- include('template/footer') %>