 <%- include('template/header') %>
<main class="details">
    <div class = "team"><h2>Our Team</h2></div>
   
    <div class="service">
        <h2>Our Services</h2>
        <img src = "images/image1.jpeg" width ="1455px">
        
        <table class="service-content">
            <tr>
                <td> <div class="service-info">
                    <h3>Regular package</h3>
                    <p>Revitalize your space with our professional window cleaning service. From regular exterior maintenance to location verification, we deliver sparkling results with precision and care.</p>
                    <br>Trust our skilled team to elevate your windows' shine, ensuring a brighter, clearer view every time."
                </div>
                </td>
                <td><div class="service-info">
               
                    <h3>Full package</h3>
                    <p>Elevate your space inside and out with our comprehensive window cleaning package. From exterior gleam to interior brilliance, our dedicated team ensures every window sparkles with clarity and charm.</p>
                    <br>With location verification for added peace of mind, trust us to transform your environment into a luminous haven.
                    
                </div></td>
                <td><div class="service-info">
  
                    <h3>Pressure Washing</h3>
                    <p>Our pressure washing services will remove dirt, grime, and stains from your home's exterior surfaces.</p>
                </div></td>
            </tr>

            
        </table>
        <div class = "socials"><h2>Our Socials</h2>
            <a href="https://www.instagram.com/vitresmtl/">
                <img src="images/ig.png" alt="Description of the image" width="50px">
              </a>
              <a href="https://example.com">
                <img src="images/linkd.png" alt="Description of the image" width="50px">
              </a>
              

              
        
        </div>

       
        </div>

    
</main>
 <%- include('template/footer') %>