<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitres Montreal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="images/vitres.png" alt="logo" height="200px">
        </div>
        <h1 id="websitename">Vitres Montreal</h1>
        <nav>
            <ul>
                <li class="active"><a href="/">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/appointement">Book Appointment</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
